body{
  overflow: hidden !important;
}
.bg {
  background-color: rgb(43, 69, 99) !important;
    color: aliceblue !important;
  }

  .nav-link {
  
    color: rgb(255 255 255) !important;
   ;
}
.hide-dropdown-arrow .dropdown-toggle::after {
    display: none;
}
a:hover {
    background-color: #536e8d !important;
}
.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    background-color: #333;
}

.sidebar.open {
    right: 0;
}

.sidebar-content {
    color: #fff;
}

.custom-icon {
    padding: 12px;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #1f4e71;
  }
  .custom-icon:hover {
    background-color: rgb(85, 96, 119);
    padding: 12px;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
.Container{
    margin-top: 55px 
}
.left-side{
  background-color : rgb(15 36 61);
  overflow-y: auto;
}
.row>* {
  padding-right: calc(var(--bs-gutter-x)* .0) !important;
   padding-left: calc(var(--bs-gutter-x)* .0) !important; 
}


.sticky-div {
  height: 50px;
  background-color: #183556;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.card-container {
  height: 100vh; /* 100% of viewport height */
  width: 100%; /* 100% of parent container */
  overflow-y: auto; /* Enable vertical scroll bar if content overflows */
  padding: 20px; /* Adjust padding as needed */
}

.card-content {
  height: 100%; /* Occupy full height of parent container */
}
.Image_footer {

  height: 57px;
  background-color: rgba(9, 9, 9, 0.39);
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(255, 255, 255);
  font-size: 14px;
  width: 100%;
  padding: 3px;
}
